<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/styles/style.css"> <!-- Link to CSS -->

</head>
<body>
  <h1>Admin Dashboard</h1>
  <div class="fdb-container">
  <ul>
    <li><a href="/admin/orders">View Orders</a></li>
    <li><a href="/admin/feedbacks">View Feedbacks</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>
</div>
</body>
</html>
