<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css"> <!-- Link to CSS -->
  <title>Home</title>
</head>
<body>
  <header>
    <h1>Welcome to the Glamorous Fashion Store</h1>
  </header>
  <div class="container">
  <main>
    <nav>
      <ul>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/admin/login">Admin Login</a></li>
      </ul>
    </nav>
  </main>
  </div>  
</body>
</html>
